:root {
    --primary: #ffc107;
    --accent: #283593;
    --warn: #d32f2f;
    --background: #0b1622;
    --content-background: #151f2e;
    --navbar-background: #152232;
    --text: #ecf0f1;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--text);
}

.card {
    margin: 0 auto;
    max-width: 50%;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
}

button {
    transition: filter 0.1s;
}

button:hover {
    filter: brightness(70%);
}
